<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/success.css">
    <title>Booking Success</title>
</head>
<body>
    <div class="container">
        <h2>Booking Successful</h2>
        <p class="lead">Thank you, <span th:text="${booking.name}"></span>, your ticket has been booked!</p>
        
        <!-- Ticket Section -->
        <div class="ticket">
            <h3>Ticket Details</h3>
            <ul class="ticket-details">
                <li><strong>Bus Number:</strong> <span th:text="${booking.busNumber}"></span></li>
                <li><strong>Travel Date:</strong> <span th:text="${booking.date}"></span></li>
                <li><strong>Seat Number:</strong> <span th:text="${booking.seatNumber}"></span></li>
            </ul>
        </div>
        
        <a href="/" class="btn">Go back to Home</a>
        <div class="image-container">
            <img src="/images/generic_banner_Ind.png" alt="Bus Image">
        </div>
    </div>
</body>
</html>
